<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>MINE</title>
</head>
<body>
    
    <header class="header">
        <nav class="navbar">

            <div class="logo"><h1>MINE</h1></div>

            <ul class="nav-items">
                <li class="item item1">HOME</li>
                <li class="item item3">Contact Us</li>
                <li class="item item2">Learn MOre</li>
            </ul>



        </nav>
    </header>

</body>
</html>